{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; UTF-8" http-equiv="Content-Type"/>
    <title>Картограф|{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link href="{% static 'static/css/styleForItemsList.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <!--<script type="text/javascript" src="{% static 'js/js.js' %}">-->

</head>
<body>
     <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/users/{{user.id}}">Мой кабинет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Выход</a>
                        </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="1">
                <ul class="navbar-nav ">
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/reg">Регистрация<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="cart">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        <div style="display: flex; position: relative;top: 0.5em;">
                            <p style="color: white; padding-right: 0.5em">Ваша корзина:</p>
                            <a href="{% url "cart:CartDetail" %}">{{total_items}} тов. {{cart.get_total_price}}руб.</a>
                        </div>
                    {% else %}
                        <p style="color: white;position: relative;top: 0.5em;">Корзина пустая</p>
                    {% endif %}
                {% endwith %}
            </div>
        </nav>
     {% block content %} {% endblock %}
     </div>
</body>
</html>